node_modules
cache
dbtest
src/web/node_modules
src/public/assets/*
src/public/manifest.json
src/public/bundle.js
.DS_Store
.env
.keys.json
out.log
nohup.out
bootstrap
data
anon
anonlocal
dbtestA
dbtestB
backup
src/public/bundle.js.map
anon-corrupt
