node_modules
certificates
src/public/previews
cache
dbtest
src/fingerprint.mjs
src/web/node_modules
src/public/assets/*
src/public/manifest.json
src/public/bundle.js
.DS_Store
.env
.keys.json
out.log
nohup.out
bootstrap
data
anon
anonlocal
dbtestA
dbtestB
backup
src/public/bundle.js.map
anon-corrupt
# DAppNodeSDK release directories
  build_*
  releases.json
  docker-compose-tmp.yml
  
.aider*
