body {
     margin: 0;
     font-family:Verdana, Geneva, sans-serif;
     font-size:10pt;
     color:#828282;
     overscroll-behavior: none;
}
.comment-text-link {
  color: black !important;
}
.comment-text-link:visited {
  color: gray !important;
}
.chat-bubble:hover {
  background-color: rgba(0,0,0,0.05);
}
.chat-bubble svg:hover {
  color: black !important;
}
.story-domain a:hover {
  text-decoration: underline;
}
.share-container {
   display: none;
}
.inverse-share-container {
  display: inline;
}
.tipsbuttoncontainer div {
  display: inline;
}
@media screen and (max-width: 768px) {
  .share-container {
    display: inline;
  }
  .inverse-share-container {
    display: none;
  }
}
.hnname span:active, .votearrow:active {
  transform: scale(0.80);
  display: inline-block;
}
.submit-button {
  box-sizing: border-box;
}
.submit-button:hover {
  outline: 2px solid black;
  background-color: white !important;
}
.submit-button svg:hover {
  color: black !important;
}
.submit-button:active {
  transform: scale(0.95);
  outline: 2px solid black;
}
.feed-button {
  box-sizing: border-box;
  cursor: pointer;
}
.feed-button:hover {
  outline: 1px solid black;
  border-color: black !important;
  color: black !important;
}
.feed-button:active {
  transform: scale(0.95);
  outline: 1px solid black;
  border-color: black !important;
  color: black !important;
  box-shadow: 0 0 5px #228B22;
}
.container {
  display: flex;
  justify-content: center;
}
 @keyframes pulsate {
   0% {
     transform: scale(1);
     opacity: 1;
   }
   50% {
     transform: scale(1.25);
     opacity: 0.5;
   }
   100% {
     transform: scale(1);
     opacity: 1;
   }
 }

 td {
     font-family:Verdana, Geneva, sans-serif;
     font-size:10pt;
     color:#828282;
}
 .subtext td {
     font-family:Verdana, Geneva, sans-serif;
     font-size: 7pt;
     color:#828282;
}
 .titleline span {
     font-size: 10pt;
}
 input {
     font-family:monospace;
     font-size:10pt;
}
 input[type=\"submit\"] {
     font-family:Verdana, Geneva, sans-serif;
}
 textarea {
     font-family:monospace;
     font-size:10pt;
     resize:both;
}
 a:link {
     color:#000000;
     text-decoration:none;
}
 a:visited {
     color:#828282;
     text-decoration:none;
}
 .default {
     font-family:Verdana, Geneva, sans-serif;
     font-size: 10pt;
     color:#828282;
}
 .title {
     display: table-row;
     font-family:Verdana, Geneva, sans-serif;
     font-size: 13pt;
     color:#828282;
}
 .subtext {
     font-family:Verdana, Geneva, sans-serif;
     font-size: 9pt;
     color:#828282;
}
 .pagetop {
     font-family:Verdana, Geneva, sans-serif;
     font-size: 14pt;
     color:#222222;
     line-height:normal;
     margin: 3px 5px;
}
 .hnname {
     margin-right: 5px;
}
 #hnmain {
     min-width: 796px;
     width: 60%;
}
 .title a {
     word-break: break-word;
}
 .pagetop a:visited {
     color:#000000;
}
 .topsel a:link, .topsel a:visited {
     color:#ffffff;
}
 .subtext a:link, .subtext a:visited {
     color:#828282;
}
 .subtext a:hover {
     text-decoration:underline;
}
 .comhead a:link, .subtext a:visited {
     color:#828282;
}
 .comhead a:hover {
     text-decoration:underline;
}
 .hnmore a:link, a:visited {
     color:#828282;
}
 .hnmore {
     text-decoration:underline;
}
 .default p {
     margin-top: 8px;
     margin-bottom: 0px;
}
 .pagebreak {
    page-break-before:always
}
 pre {
     overflow: auto;
     padding: 2px;
     white-space: pre-wrap;
     overflow-wrap:anywhere;
}
 pre:hover {
     overflow:auto 
}
.votearrow {
  color: #828282;
  font-size: 1.5rem;
}
.pulsate {
  animation: pulsate 1s infinite;
}
 table.padtab td {
     padding:0px 10px 
}
 .votearrow.rotate180 {
     -webkit-transform: rotate(180deg) scale(1.7,1.7);
    /* Chrome and other webkit browsers */
     -moz-transform: rotate(180deg) scale(1.7,1.7);
    /* FF */
     -o-transform: rotate(180deg) scale(1.7,1.7);
    /* Opera */
     -ms-transform: rotate(180deg) scale(1.7,1.7);
    /* IE9 */
     transform: rotate(180deg) scale(1.7,1.7);
    /* W3C complaint browsers */
    /* IE8 and below */
     -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand')";
}

/* Onoarding page styles */

.section {
    max-width: 800px; /* Adjust this to set the maximum width of the text */
    margin: 0 auto;
  }
  
  .flex-container {
    display: flex;
    align-items: flex-start; /* Align the top edges of the child elements */
  }
  
  .text-left,
  .text-right,
  .image {
    width: 50%;
  }
  
  .text-left {
    margin-right: 20px; /* Add right margin to create space between the text and image */
    text-align: left; 
  }

  .text-right {
    margin-left: 20px; /* Add right margin to create space between the text and image */
    text-align: right; 
  }

  .text-left h2, .text-right h2 {
    margin-top: 0;
    padding: 0;
    line-height: 1; /* Adjust as needed; this can bring the text closer to the top of the container */
}
  
  .image img {
    width: 100%;
    margin: 0;
  }

  .image-right img {
    width: 100%;
    margin: 0;
    text-align: right;  
  }

  .image-left img {
    width: 100%;
    margin: 0;
    text-align: left;  
  }
@media (max-width: 768px) {
  #button-onboarding {
    font-size: 1rem;
  }
}
  
  #button-onboarding {
    border-radius: 2px;
    padding: 10px 15px;
    background-color: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    width: 50%;
    display: inline-block;
  }
  .primary-action-button:hover, #button-onboarding:hover, .buy-button:hover {
    outline: 1px solid black;
    color: black !important;
    border-color: black !important;
    background-color: white !important;
  }
  .primary-action-button:active, #button-onboarding:active, .buy-button:active {
    transform: scale(0.96);
    outline: 1px solid black;
    color: black !important;
    background-color: white !important;
    border-color: black !important;
    box-shadow: 0 0 5px black;
  }

  #button-onboarding.button-secondary{
    background-color: rgba(0,0,0,0);
    color: black;
  }
  #button-onboarding.button-secondary:hover{
    background-color: transparent !important;
  }

    #hnmain {
      border: 1px solid rgba(0,0,0,0.1);
    }
  
.canon-font {
  font-size: 11pt;
}
.canon-image {
  flex: 0 0 30%;
}
/* mobile device */
 @media only screen and (min-width : 300px) and (max-width : 750px) {
    .canon-image {
      flex: 0 0 45%;
    }
    .canon-font {
      font-size: 8pt;
    }
     #hnmain {
         width: 100%;
         min-width: 0;
    }
    #boxmain {
         width: 100%;
         min-width: 0;
    }
    body::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    body {
         padding: 0;
         margin: 0;
         width: 100%;
         -webkit-text-size-adjust: none;
    }
     .title, .comment {
         font-size: inherit;
    }
     span.pagetop {
         display: block;
         margin: 3px 5px;
         font-size: 14px;
         line-height: normal 
    }
     span.pagetop b {
         display: block;
         font-size: 18px;
    }
     table.comment-tree .comment a {
         display: inline-block;
         max-width: 200px;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
         vertical-align:top;
    }
     .title {
         display: table-row;
         font-size: 13pt;
         line-height: 14pt;
    }
     .subtext {
         font-size: 9pt;
    }
     .votearrow.rotate180 {
         -webkit-transform: rotate(180deg) scale(1.7,1.7);
        /* Chrome and other webkit browsers */
         -moz-transform: rotate(180deg) scale(1.7,1.7);
        /* FF */
         -o-transform: rotate(180deg) scale(1.7,1.7);
        /* Opera */
         -ms-transform: rotate(180deg) scale(1.7,1.7);
        /* IE9 */
         transform: rotate(180deg) scale(1.7,1.7);
        /* W3C complaint browsers */
    }
     .votelinks {
         min-width: 18px;
    }
     .votelinks a {
         display: block;
         margin-bottom: 9px;
    }
     input[type='text'], input[type='number'], textarea {
         font-size: 16px;
         width: 90%;
    }
}
/* Navigation */
 #menu {
     padding-top: 10px;
}
 @media screen and (max-width: 600px) {
     .hide-on-mobile {
         display: none !important;
    }
}
 #content {
     flex: 1;
     padding: 20px;
}
 .kiwi-svg {
     height: auto;
     margin-bottom: 2em;
     max-width: 60%;
}
 .notification-text {
     font-size: 1.2em;
     max-width: 70%;
     margin: 0 auto;
}
 @media (min-width: 768px) {
     .feed-container {
         max-width: 60%;
         margin: 0 auto;
    }
     .kiwi-svg {
         max-width: 40%;
    }
}
 .sidebar {
     position: fixed;
    /* Fixed position for mobile */
     z-index: 7;
     top: 0;
     width: 75%;
     height: 100%;
     left: -75%;
     background-color: #e6e6df;
     overflow-x: hidden;
     transition: 0.5s;
     border-right: 1px solid black;
     padding-top: 35%;
}
/* Media query for medium screens */
 @media (min-width: 768px) {
     .sidebar {
         width: 30%;
        /* modified width for medium screens */
         position: fixed;
        /* Static position for medium screens */
         padding-top: 15%;
    }
}
 #mySidebar > hr {
     border: none;
     border-top: 1px solid black;
}
 .sidebar-toggle {
     display: flex;
}
 .kn-banner-desk {
     display: none;
}
 .sidebar a[href="/submit"] {
     display: none;
}
 a[href="/submit"] {
     display: flex;
}
 .sidebar .kiwi-logo {
     display: none;
}
 #hnmain > table:first-of-type > tbody > tr:first-of-type {
     background-color: #e6e6df;
}
 #hnmain table {
     width: 100%;
}
/* Media query for larger screens */
 @media (min-width: 1150px) {
    #hnmain > table:first-of-type > tbody > tr:first-of-type {
         background-color: #e6e6df;
    }
    #hnmain table {
      border-left: none;
      border-right: none;
    }
    body {
         background-color: rgb(246, 246, 239);
    }
     a[href="/submit"] {
         display: none;
    }
     .sidebar a[href="/submit"] {
         display: block;
    }
     .container {
         display: flex;
         justify-content: center;
         align-items: stretch;
    }
     .pagetop {
         display: none 
    }
     .kn-banner-desk {
         width: 200px;
         display: block;
         color: black;
         font-size: 1.1rem;
         font-weight: bold;
    }
     .sidebar .kiwi-logo {
         display: flex;
         align-items: center;
         font-size: 1.9rem;
         margin: 14px 14px 14px 20px;
    }
     .sidebar {
         z-index: 6;
         overflow: hidden;
         background-color: rgb(246, 246, 239);
         min-width: 75px;
         height: 100vh;
         border-right: 1px solid #ccc;
         width: auto;
        /* modified width for large screens */
         position: sticky;
        /* Static position for large screens */
         top: 0;
         padding-top: 0;
         border-top-left-radius: 2px;
         border-bottom-left-radius: 2px;
    }
     .sidebar-toggle {
         display: none;
    }
    #mySidebar {
      padding-right: 1.25rem;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      background-color: rgba(0,0,0,0.1);
    }
     #mySidebar > hr {
      display: none;
    }
    #hnmain {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
    .svg-container svg {
      width: 1.75rem;
    }
    .svg-container svg:hover{
      color: #36454F;
    }
    .svg-container {
      width: auto;
    }
    .svg-container + span {
      margin: 0 0.25rem 0 0.75rem;
      font-size: 1rem;
    }
    .sidebar a {
      font-size: 2em;
    }
    .sidebar a:not(.kiwi-logo):hover{
      background-color: rgba(0,0,0,0.1);
      border-radius: 2px;
    }
    .sidebar .icon-svg {
      width: 36px;
      height: 36px;
    }
    .sidebar-div {
      font-size: 1.7em;
    }
}
 .sidebar a {
    padding: 0.3rem 0 0.3rem 0;
    margin: 0.5rem 10px 0.2rem 10px;
    font-size: 1.7rem;
    font-weight: bold;
}
 .svg-container {
     width: 19%;
     padding-left: 10px;
}
 .svg-container svg {
     width: 2rem;
}
 .sidebar .icon-svg {
     padding: 0 20px 0 5px;
}
 @media (min-width: 768px) {
     .sidebar a {
         font-size: 2em;
        /* Adjust to preferred size */
    }
     .sidebar .icon-svg {
         width: 36px;
         height: 36px;
    }
}
 .sidebar-div {
     color: black;
     text-decoration: none;
     display: block;
     padding: 0.3rem 0 0.3rem 0;
     margin: 0.5rem 10px 0.2rem 10px;
     font-size: 1.7rem;
     font-weight: bold;
     cursor: pointer;
}
 @media (min-width: 768px) {
     .sidebar-div {
         font-size: 1.7em;
    }
}
 #overlay {
     display: none;
    /* Initially hidden */
     position: fixed;
    /* Full-screen positioning */
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
     z-index: 6;
    /* Overlay should be on top of everything else */
}
 .story-link {
     color: black;
}
 .story-link:visited {
     color: #828282;
}
 a.meta-link {
     color: #828282;
     fill: #828282;
}
 a.meta-link:hover {
     text-decoration: underline;
}
 a.caster-link {
     color: #828282;
     fill: #828282;
}
 a.caster-link:hover {
     color: #472a91;
     fill: #472a91;
     cursor: pointer;
}

.interaction-element:hover {
  background-color: rgba(0,0,0,0.1) !important;
}

.bell-button:hover{
  background-color: rgba(0, 0, 0, 0.2) !important;
}
 
#top-bar {
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  padding: 1rem;
  display: flex;
  justify-content: space-between; // Updated this line
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; // Added this line
}
#top-bar p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#top-bar button {
  background-color: #3DC617;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}
#top-bar button:hover {
  background-color: #0056b3;
}
#close-button {
  cursor: pointer;
  padding: 5px;
  color: white;
}

.filter-tab:hover {
  background-color: rgba(0,0,0,0.035);
}

[contenteditable=true]:empty:before {
   content: attr(data-placeholder);
   color: #999;
}
